<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c5fcb6">  <td>17/11/24 00:49:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.test.BonCoin.Tests.setUp()">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1140202235</td>   <td></td> </tr>
<tr bgcolor="c5fcb6">  <td>17/11/24 00:50:43</td>   <td>46157</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;org.test.BonCoin.Tests.tearDown()">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1140202235</td>   <td></td> </tr>
<tr bgcolor="c5fcb6">  <td>17/11/24 00:50:43</td>   <td>46154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.test.BonCoin.Tests.testConnect()">testConnect</td> 
  <td>main@1140202235</td>   <td></td> </tr>
</table>
